#map {
  border-radius: 0.4em;
}

.custom-map-control-button {
  color: rgb(74, 74, 74);
  margin-top: 1.3em;
  padding: 0.7em;
  font-weight: 600;
  font-size: 0.65em;
  height: 3em;
  background-color: white;
  box-shadow: 0 0 0.6em 0.1px rgb(169, 169, 169);
}

.custom-map-control-button1 {
  color: rgb(74, 74, 74);
  margin-top: 1.3em;
  padding: 0.7em;
  font-size: 0.65em;
  font-weight: 600;
  height: 3em;
  margin-right: 0.3em;
  box-shadow: 0 0 0.6em 0.1px rgb(169, 169, 169);
  background-color: white;
}
