.userViewPet__container {
  margin: auto;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.line__orange {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #ff5b0e;
}
.line__green {
  position: fixed;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #0a5b3d;
}
.userViewPet__allDate {
  z-index: 2;
  width: 85%;
  background-color: white;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  box-shadow: 0em 0em 1em 0.2em rgb(42, 42, 42);
}
.userViewPet__hereIam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.userViewPet__hereIam h2 {
  padding-top: 1em;
  color: #287a5c;
  font-weight: 800;
  margin-bottom: -0.4em;
}

.userViewPet__img {
  height: 17em;
  width: 14em;
  padding: 0.4em;
  border-radius: 1em;
  border: 2px solid #ff5b0e;
}

.userViewPet__img img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.userViewPet__name {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userViewPet__name h3 {
  margin-top: -1em;
  font-size: 1.5em;
  font-weight: 700;
  color: #ff5b0e;
}

.userViewPet__datePet {
  position: relative;
  margin-top: -1em;
  z-index: 1;
  width: 95%;
  max-width: 400px;
  padding: 1em 0.4em 0.4em 0.4em;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  align-items: center;
  border: 2px solid #ff5b0e;
}
.userViewPet__datePet h2 {
  position: absolute;
  top: -0.6em;
  padding: 0 0.5em 0 0.5em;
  font-size: 1.5em;
  font-weight: 800;
  background-color: white;
  color: #186e4e;
  margin-top: -0.2em;
  z-index: 5;
  text-align: center;
}

.userViewPet__datePetUl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 1em;
  background-color: #115e42;
  padding: 0.5em;
}

.userViewPet__datePetUl li {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
}

.userViewPet__datePetUl p {
  width: 100%;
  max-width: 270px;
  color: #ff5100;
  font-size: 1.1em;
  font-weight: 700;
  overflow-wrap: break-word;
  text-align: center;
}
.userViewPet__li {
  border-top: 2px solid white;
  width: 100% !important;
  padding-top: 0.5em;
}
.userViewPet__date {
  margin: 0;
}

.userViewPet__location {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0 0.5em 0;
  gap: 1em;
  background-color: white;
  border-radius: 1em;
}

.userViewPet__location h3 {
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  text-decoration: underline;
  color: #186e4e;
  margin-top: -1em;
  margin-bottom: -1em;
}
.userViewPet__contactame {
  width: 40%;
  color: #ffffff;
  padding: 0.5em;
  margin-bottom: -0.4em;
  border-radius: 1em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #ff5b0e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.userViewPet__location i {
  font-size: 1.8em;
}

.userViewPet__contact-link {
  width: 45%;
  color: #ffffff;
  padding: 0.5em;
  margin: 1em;
  margin-bottom: -1em;
  border-radius: 1em;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  background-color: #ff5b0e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.userViewPet__information {
  width: 85%;
  z-index: 1;
  background-color: white;
  padding: 2em 0.5em 2em 0.5em;

  border-radius: 1em;
}
.userViewPet__information-allDate {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #186e4e;
  margin: auto;
  padding: 0.5em;
  z-index: 1;
  border: 2px solid #ff5b0e;

  border-radius: 1em;
}
.userViewPet__information h3 {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: 800;

  border-bottom: 2px solid #ff5b0e;
}

.userViewPet__information p {
  font-size: 0.95em;
  font-weight: 700;
}

.userViewPet__information ul {
  display: flex;
  gap: 2em;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.userViewPet__information i {
  font-size: 3em;
  color: #ff5b0e;
  background-color: #186e4e;
  padding: 0.1em;
  border-radius: 50%;
  cursor: pointer;
}
.userViewPewt__informaiton-net {
  width: 3.6em;
  margin: auto;
  display: flex;
  justify-content: center;
}

.userViewPewt__informaiton-net img {
  width: 100%;
}
.sponsor__container {
  position: relative;
  width: 100%;
  max-width: 450px;
  z-index: 2;
  margin: auto;
  margin-top: 3em;
  background-color: #fff8f2;
}

.bx-chevron-left:hover {
  color: white;
  background-color: #ff5b0e;
}
.bx-chevron-right:hover {
  color: white;
  background-color: #ff5b0e;
}
.sponsor__slider {
  display: flex;
  transition: transform 300ms ease;
  overflow: hidden;
}

.copyRigthH4 {
  margin-top: -3em;
}
